# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.d
*.o

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
/assets/ebpf_probe.go

# VSCode
.vscode/settings.json

kern/bpf/x86/vmlinux.h

bin/*
/.check*
/deps/*
